version: "2"
services:
  cqp:
   image: rahonabe/cqp
   env_file: ./secrets.env
   links:
        - sql
   domainname: ${DOMAINNAME}
   hostname: ${FIRSTNAME}-cqp
   build: 
      context: ./teitok
   ports:
       - 80:80
   volumes:
       - ./${FIRSTNAME}-container/corpora:/var/corpora
       - ./${FIRSTNAME}-container/webapp:/var/www/html
       - ./${FIRSTNAME}-container/registry:/usr/local/share/cwb/registry
   volumes_from:
       - sql
  sql:
    image: mariadb
    env_file: ./secrets.env
    domainname: ${DOMAINNAME}
    hostname: ${FIRSTNAME}-sql
    volumes:
      - ./${FIRSTNAME}-container/lib/mysql:/var/lib/mysql
